body {
  margin: 0px;
  padding: 0px;
  background-color: #0971B2;
  background-size: cover;
}

.navbar {
  position: fixed;
    top: 0px;
  z-index: 10;
  height: 65px;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 8;
}

.navItems {

  position: fixed;
    top: 20px;
    margin-left: 20%;
    margin-right: 20%;
  font-size: 20px;
  font-family: veranda;
  font-style: veranda;
  background-color: black;
  width: 50%;
  text-align: center;

}

.navItems > span {
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px;
  background-color: black;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 7.5px;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.mainScreen {
  background-color: #000000;
  text-align: center;
  width: 80%;
  height: 80%;
  z-index: 1;
  margin-left: 10%;
  position: fixed;
    top: 100px;
  float: left;
  /*overflow-y: hidden;
*/}

.player1Score {
  background-color: #FFC72B;
  width: 15.5%;
  height: 92%;
  float: left;
  margin: 1.5%;
  z-index: 2;
  font-size: 25px;
}

.gameBoardSpace {
  background-color: #FFC72B;
  width: 60%;
  height: 92%;
  float: left;
  margin: 1.5%;
  z-index: 2;
}

#gameBoardMap {
  height: 80%;
  background-color: #FFC72B;
  font-size: 25px;
  margin-top: 0px;
}

.player2Score {
  background-color: #FFC72B;
  width: 15.5%;
  height: 92%;
  float: left;
  margin: 1.5%;
  z-index: 2;
  font-size: 25px;
}

#p1Score {
  font-size: 100px;
  text-align: center;
}

#p2Score {
  font-size: 100px;
  text-align: center;
}

.playerBoardText {
/*
  position: fixed;
    top: 300px;
*/}

.square {
  height: 90%;
  width: 29.333333%;
  margin: 3%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  background-color: #1985FF;
  font-size: 100px;
  text-align: center;
  /*vertical-align: middle;*/
}

.colOne {
  float: left;
  width: 100%;
  /*height: 33.333333%;*/
  background-color: black;
}

.colOne > div {
  float: left;
}

.colOne > [id='0'] {
  margin-left: 3%;
}

.colTwo {
  float: left;
  width: 100%;
  /*height: 33.333333%;*/
  background-color: black;
}

.colTwo > div {
  float: left;
}

.colTwo > [id='3'] {
  margin-left: 3%;
}

.colThree {
  float: left;
  width: 100%;
  /*height: 33.333333%;*/
  background-color: black;
}

.colThree > div {
  float: left;
}

.colThree > [id='6'] {
  margin-left: 3%;
}
/*#sqOne {
  background-color: orange;
  float: left;
}*/
/*
#sqTwo {
  background-color: beige;
  float: left;
}*/
